@import 'tailwindcss';


:root {
  --background: #ffffff; 
  --foreground: #333333; 
}




body {
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: larger;
}


main {
  padding: 2rem;
}


a {
  color: #1d4ed8; /* plava, po Tailwind standardu */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
